
@media (min-width: $M) {
  .form-row {
    margin-right: -22px;
    margin-left: -22px;
  }

  [class*='form-col'] {
    position: relative;

    min-height: 1px;
    padding-right: 22px;
    padding-left: 22px;
    float: left;
    .w-btn {
      &:last-child:first-child {
        margin-top: 28px;
      }
    }
  }
  .form-col-12 {
    width: 100%;
  }

  .form-col-11 {
    width: 91.66666667%;
  }

  .form-col-10 {
    width: 83.33333333%;
  }

  .form-col-9 {
    width: 75%;
  }

  .form-col-8 {
    width: 66.66666667%;
  }

  .form-col-7 {
    width: 58.33333333%;
  }

  .form-col-6 {
    width: 50%;
  }

  .form-col-5 {
    width: 41.66666667%;
  }

  .form-col-4 {
    width: 33.33333333%;
  }

  .form-col-3 {
    width: 25%;
  }

  .form-col-2 {
    width: 16.66666667%;
  }

  .form-col-1 {
    width: 8.33333333%;
  }
}

.justify-content-end {
  justify-content: flex-end !important;
}