@import "variables";
$icomoon-font-family: "icomoon";
$icomoon-font-path: "../fonts/icons/fonts";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-vk {
  &:before {
    content: $icon-vk; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-cursor {
  &:before {
    content: $icon-cursor;
  }
}
.icon-caret {
  &:before {
    content: $icon-caret;
  }
}
.icon-remove {
  &:before {
    content: $icon-remove;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-fat-arrow-r {
  &:before {
    content: $icon-fat-arrow-r;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-next {
  &:before {
    content: $icon-arrow-next;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-arrow-prev {
  &:before {
    content: $icon-arrow-prev;
    color: #454c53;
  }
}

