// breakpoints
$XS: 340px;
$S: 480px;
$EXS: 600px;
$M: 768px;
$EXM: 800px;
$L: 1025px;
$EXL: 1170px;

//
$description_top: 165px;
$description_left: 65px;
$right_details_top_offset: 100px;
//

$mobile_key: 'mobile';
$desktop_key: 'desktop';

$blue: #009fff;
$blue2: #006cff;
$blue3: #0277bd;

$text_blue: $blue;
$heading: $blue2;
$light_blue: $blue3;
$red: #e62117;
$primary-font: 'Lato', sans-serif;
$font-medium: 'Lato Mediom', sans-serif;
$font-black: 'Lato Black', sans-serif;


$containerWidth: 1230px;
$containerOuterSpace: 30px;
$containerOuterSpace_mobile: 15px;
$footer_bone: 93px;

$ripple_opacity: .8;

$btn--blue: $blue;
$default_link: $blue;
$primary_color: $blue;
$error-color: $red;

