.hide {
  display: none !important;
}
.main-page-res-form .search-field{

}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.orange {
  color: #0066c8;
}
.title1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
body .body-container #popup-feedback-form {
  position: fixed;
  height: auto;
  bottom: auto;
  padding: 15px;
  width: 90%;
}
body .body-container #popup-feedback-form #popup-content-wrapper {
  position: relative;
  overflow: auto;
  padding: 15px;
}
body .body-container #popup-feedback-form #popup-content-wrapper .title1 {
  text-align: center;
  width: 100%;
  padding: 0 30px;
  margin-right: 0;
}
body .body-container #popup-feedback-form #popup-content-wrapper .form-field {
  margin-bottom: 15px;
}
body .body-container #popup-feedback-form #popup-content-wrapper .form-field label {
  color: #444444;
}
body .body-container #popup-feedback-form #popup-content-wrapper .half-fields .form-field {
  width: 100%;
  float: none;
}
body .body-container #popup-feedback-form #popup-content-wrapper .submit-row button {
  width: 100%;
  text-transform: uppercase;
  font-family: "Proxima Nova Bold";
  padding: 10px;
}
#popup-feedback-form {
  width: 50%;
  top: 0%;
  /* +5% js */
  left: 50%;
  margin-left: -25%;
  border-radius: 5px;
  background: #ffffff;
  position: fixed;
  display: none;
  opacity: 0;
  z-index: 900;
  padding: 40px;
}

#popup-feedback-form .title1 {
  margin-right: 30px;
}
#popup-feedback-form #popup-feedback-close {
  width: 31px;
  height: 31px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
  float: right;
  top: 10px;
  cursor: pointer;
  display: block;
  z-index: 1600;
  background-color: #ccc;
}
#popup-feedback-form #popup-success-result {
  display: none;
  text-align: center;
  padding: 15px 30px;
}
#popup-feedback-form #popup-success-result .title1 {
  margin-right: 0;
}
#popup-feedback-form #popup-success-result .icon-wrapper {
  height: 100px;
  width: 100px;
  display: inline-block;
  padding: 23px 19px;
  border: 3px solid #0066c8;
  border-radius: 50%;
}
#popup-feedback-form #popup-success-result .close-popup-btn {
  width: 100%;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px;
  background-color: #0066c8;
  border: 1px solid #e0e0e0;
}
#popup-feedback-form #popup-success-result .close-popup-btn:hover {
  font-weight: bold;
  border-radius: 6px;
  padding: 10px;
  background-color: #0066c8;
  border: 1px solid #e0e0e0;
}
.form-field {
  width: 100%;
  margin-bottom: 20px;
}
.form-field label {
  color: #808285;
}
.form-field.error {
  color: red;
}
.form-field.error label {
  color: red;
}
.form-field.error input {
  color: red;
}
.half-fields {
  margin-bottom: 0;
}
.half-fields:before,
.half-fields:after {
  content: " ";
  display: table;
}
.half-fields:after {
  clear: both;
}
.half-fields:before,
.half-fields:after {
  content: " ";
  display: table;
}
.half-fields:after {
  clear: both;
}
.half-fields .form-field {
  width: 48%;
  float: left;
}
.visible_xs{
  display: none;
}

.submit-row .my-btn {
  border-radius: 4px;
  padding: 0 30px;
}
.my-btn.orange {
  border-color: #0555C8;
  color: #ffffff;
  background-color: #0066c8;
}
.my-btn.orange:hover {
  background-color: #0555C8;
}
#popup-feedback-overlay {
  z-index: 200;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
.desktop-visible {
  display: none;
}
.desktop-visible-i {
  display: none !important;
}
.mobile-visible {
  display: inherit;
}
.mobile-visible-initial {
  display: initial;
}
.mobile-hide {
  display: none;
}
.mobile-hide-i {
  display: none !important;
}
.nicon {
  /* display: inline-block;*/
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  background: url(../img/sprite.png);
  vertical-align: middle;
  position: relative;
}
.nicon.nicon-close-white-22 {
  width: 22px;
  height: 22px;
  background-position: -69px -364px;
}

.travel_day_image_col iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.travel_day_image_col.video_col {
  padding-top: 56.25% !important;
  position: relative;
}

@media (max-width: 768px)  {
  #popup-feedback-form {
    width: 90%;
    left: 30%;
    padding: 25px;
    max-height: 93vh;
    overflow: auto;
  }
  .visible_xs{
    display: block;
  }
  .hidden_xs{
    display: none;
  }
  .title1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  #popup-feedback-form .half-fields .form-field {
    width: 96%;
    float: left;
  }

}