@font-face {
  font-family: montserrat;
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/Montserrat/Montserrat-Regular.eot);
  src: url(./fonts/Montserrat/Montserrat-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/Montserrat/Montserrat-Regular.woff) format("woff"), url(./fonts/Montserrat/Montserrat-Regular.ttf) format("truetype")
}

@font-face {
  font-family: montserrat;
  font-weight: 100;
  font-style: normal;
  src: url(./fonts/Montserrat/Montserrat-Thin.eot);
  src: url(./fonts/Montserrat/Montserrat-Thin.eot?#iefix) format("embedded-opentype"), url(./fonts/Montserrat/Montserrat-Thin.woff) format("woff"), url(./fonts/Montserrat/Montserrat-Thin.ttf) format("truetype")
}

@font-face {
  font-family: montserrat;
  font-weight: 200;
  font-style: normal;
  src: url(./fonts/Montserrat/Montserrat-ExtraLight.eot);
  src: url(./fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix) format("embedded-opentype"), url(./fonts/Montserrat/Montserrat-ExtraLight.woff) format("woff"), url(./fonts/Montserrat/Montserrat-ExtraLight.ttf) format("truetype")
}

@font-face {
  font-family: montserrat;
  font-weight: light;
  font-style: normal;
  src: url(./fonts/Montserrat/Montserrat-Light.eot);
  src: url(./fonts/Montserrat/Montserrat-Light.eot?#iefix) format("embedded-opentype"), url(./fonts/Montserrat/Montserrat-Light.woff) format("woff"), url(./fonts/Montserrat/Montserrat-Light.ttf) format("truetype")
}

@font-face {
  font-family: montserrat;
  font-weight: 500;
  font-style: normal;
  src: url(./fonts/Montserrat/Montserrat-Medium.eot);
  src: url(./fonts/Montserrat/Montserrat-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/Montserrat/Montserrat-Medium.woff) format("woff"), url(./fonts/Montserrat/Montserrat-Medium.ttf) format("truetype")
}

@font-face {
  font-family: montserrat;
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/Motserrat/Montserrat-SemiBold.eot);
  src: url(./fonts/Montserrat/Montserrat-SemiBold.eot?#iefix) format("embedded-opentype"), url(./fonts/Montserrat/Montserrat-SemiBold.woff) format("woff"), url(./fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype")
}

@font-face {
  font-family: montserrat;
  font-weight: 700;
  font-style: normal;
  src: url(./fonts/Montserrat/Montserrat-Bold.eot);
  src: url(./fonts/Montserrat/Montserrat-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/Montserrat/Montserrat-Bold.woff) format("woff"), url(./fonts/Montserrat/Montserrat-Bold.ttf) format("truetype")
}

@font-face {
  font-family: montserrat;
  font-weight: 800;
  font-style: normal;
  src: url(./fonts/Montserrat/Montserrat-ExtraBold.eot);
  src: url(./fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix) format("embedded-opentype"), url(./fonts/Montserrat/Montserrat-ExtraBold.woff) format("woff"), url(./fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype")
}

@font-face {
  font-family: montserrat;
  font-weight: 900;
  font-style: normal;
  src: url(./fonts/Montserrat/Montserrat-Black.eot);
  src: url(./fonts/Montserrat/Montserrat-Black.eot?#iefix) format("embedded-opentype"), url(./fonts/Montserrat/Montserrat-Black.woff) format("woff"), url(./fonts/Montserrat/Montserrat-Black.ttf) format("truetype")
}