.w-button
  display: inline-block
  text-decoration: none
  position: relative
  cursor: pointer
  outline: 0
  height: 40px
  width: auto
  padding: 0 20px
  border-radius: 35px
  background: #ff9700
  color: #fff
  text-align: center
  user-select: none
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2)
  border: 2px solid #fff
  +vertical
  transition: all .3s ease
  font:
    size: 1.4rem
    weight: 700
  text-transform: uppercase
  &.is-bordered
    background: transparent
    border: 2px solid #ff9700
    box-shadow: none
    color: #ff9700
  +MQ(EXS)
    font-size: 1.8rem
    height: 50px






