.w-checkbox
  position: relative
  font:
    size: 0
  &__mark
    border: 1px solid #1b63dc
    display: inline-block
    vertical-align: middle
    height: 16px
    margin-right: -16px
    width: 16px
    border-radius: 3px
    background: #fff
    color: #1b63dc
    i
      position: relative
      display: none
      left: 2px
      top: 1px
      font:
        size: 11px
  input[type="checkbox"]
    visibility: hidden
    width: 0 !important
    position: absolute
    left: 0
    top: 0
    height: 0 !important
    opacity: 0
    &:checked
      + label
        .w-checkbox__mark
          i
            display: block
    + label
      position: relative
      margin: 0
      cursor: pointer
      line-height: 1.2
      font:
        size: 0
      color: #4f5d6e
  &__help
    display: inline-block
    width: 100%
    vertical-align: middle
    padding:
      left: 27px
    font:
      size: 12px
      weight: normal
    &:hover
      text-decoration: underline