.collapsible-group
	padding-top: 35px
	margin-bottom: 50px
	h4,.h4
		margin-bottom: 40px
		font:
			size: 0
		text-align: left
		.help
			width: 100%
			padding-left: 50px
			display: inline-block
			vertical-align: middle
			font:
				size: 1.6rem
				weight: 400
				family: $font-black
			color: #413d4b
		[class*='icon']
			font:
				size: 3rem
			color: #0277bd
			width: 50px
			margin-right: -50px
			display: inline-block
			vertical-align: middle
	.col-6
		padding:
			left: 15px
			right: 15px
	.row
		margin:
			left: -15px
			right: -15px
		&:after,&:before
			content: ""
			display: table
		&:after
			clear: both
	.panel-group
		border:
			bottom: 1px solid #626262
		margin-bottom: 50px
	.panel-collapse
		.panel-body
			font:
				size: 1.6rem
			color: #413d4b
			line-height: 1.3
			padding:
				left: 10px
				right: 10px

				bottom: 25px
	.panel-heading
		text-transform: uppercase
		color: #413d4b
		border:
			top: 1px solid #626262
		a
			display: block
			padding: 0
			position: relative
			text-decoration: none
			+vertical
			height: 60px
			padding:
				right: 60px
			text-align: left
			&:before
				content: $icon-plus
				+icomoon
				position: absolute
				color: inherit
				right: 30px
				+center(y)
				font:
					size: 1.5rem

			.help
				font:
					size: 1.6rem
	+MQ(M)
		.col-6
			width: 50%
			float: left
		.panel-collapse
			.panel-body
				padding:
					right: 60px
					left: 30px
		.panel-heading
			a
				padding:
					left: 30px
					right: 60px
		//.panel-collapse
			.panel-body
				padding:
					left: 30px
					right: 60px
					bottom: 25px