form
  .form-group
    margin-bottom: 20px
  .form-controls
    position: relative
    &.error
      .errorMessage
        text-align: left
        font-size: 12px
        margin: 6px 0 0
        padding: 0 16px
  label, .controls-label
    display: block
    color: #373a3c
    font:
      size: 1.6rem
      weight: 400
    cursor: pointer
    margin-bottom: 12px
    a
      color: #fff
      text-decoration: underline
      &:hover
        text-decoration: none
    .Main-slider &
      color: rgba(#f3f3f5, .8)
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="date"],
  textarea
    background: transparent
    outline: 0
    color: #373a3c
    font-size: 1.6rem
    font-weight: 400
    text-align: left
    width: 100%
    border: 1px solid #929191
    transition: all .3s ease
    border-radius: 0
    .Main-slider &
      background: rgba(255,255,255,.2)
      border: 2px solid rgba($blue3, .2)
      color: rgba(#f3f3f5, .8)
      &:focus
        border: 2px solid rgba($blue3, 1)
        color: rgba(#f3f3f5, 1)
    &::placeholder
      color: #929191
    &:focus
      color: #373a3c
      text-transform: none
      border: 2px solid $blue3
      transition: all 0s
      &::placeholder
        color: transparent
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="date"]
    height: 40px
    padding: 15px
  input[type="search"]
    -webkit-appearance: none
  input[type="password"]
    text-transform: none!important
  textarea
    resize: none
    padding: 15px
    height: 160px
  +MQ(M)
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="date"]
      height: 59px
.form-hr
  padding-bottom: 40px
.check-list
  li
    display: block
    margin-bottom: 15px
  +MQ(L)
    &.table-grid
      display: table
      margin-bottom: 25px
      width: 100%
      li
        display: table-cell
        vertical-align: middle
  &.col-3-view
    +MQ(EXS)
      li
        width: 50%
    +MQ(L)
      li
        width: 33.3333%
  &.col-2-view
    +MQ(EXS)
      li
        width: 50%
  &.col-3-view,
  &.col-2-view
    font:
      size: 0
    .cu-checkbox
      .mark, .help
        vertical-align: top
    li
      padding-right: 40px
      display: inline-block
      vertical-align: middle
      margin-bottom: 30px

.thin-form
  .link-group
    padding-top: 10px
    width: 100%
    display: table
    margin-bottom: 30px
    .col
      display: table-cell
      vertical-align: middle
      text-align: left
      &:last-child
        text-align: right
  a
    font:
      size: 1.6rem
    color: #0277bd

  .form-group
    margin-bottom: 15px
  .controls-label
    font:
      size: 1.6rem
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="date"],
  textarea
    border: 1px solid #a8a7a7
    font:
      size: 1.4rem
    &:focus
      border: 2px solid $blue
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="date"]
    height: 40px
.form-row
  &:after, &:before
    content: ""
    display: table
  &:after
    clear: both

.timer-line
  text-align: center
  margin-bottom: 30px
  .title
    margin-bottom: 20px
  .timer-wrap
    font:
      size: 5.4rem
    color: #0277bd
    text-align: center
    > *
      display: inline-block
      vertical-align: middle
    &:before
      content: ""
      margin-right: 10px
      display: inline-block
      vertical-align: middle
      background: url("../../frontend/icons/clock.png") no-repeat 0 0 scroll transparent
      width: 52px
      height: 64px
.list-checkboxes
  li
    margin-bottom: 30px
.filter-form
  padding:
    top: 30px
  .form-row
    margin-bottom: 0
    padding-bottom: 30px
  .w-btn
    width: 100%

