.go-down
  position: fixed
  bottom: 20px
  right: 25px
  z-index: 1000
  cursor: pointer
  [class*="icon"]
    font:
      size: 5rem
    color: #454c53
    padding: 10px
    background: #ffffff
    border-radius: 50%
  &__helper
    display: none
  +MQ(L)
    position: absolute
    right: 0
    bottom: 60px
    display: flex
    align-items: center
    [class*="icon"]
      padding: 0
      background: transparent
      font:
        size: 5rem
      margin-left: 20px
    &__helper
      max-width: 300px
      display: block
      font:
        size: 3rem
        weight: 700
      color: #2889dc
      text-align: right