.nice-number
  display: inline-flex
  justify-content: stretch
  input
    vertical-align: middle
    -moz-appearance: textfield
    box-sizing: content-box
    margin: 0 15px
    text-align: center
    padding: 0
    background: transparent
    border: none
    font:
      weight: 500
      size: 3rem
    color: #454c53
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
      -webkit-appearance: none
      margin: 0
  button
    padding: 0
    border: 0
    outline: none
    font:
      size: 0
    background: transparent
    border: none
    box-shadow: none
    &:before
      +icomoon
      font:
        size: 3rem
      color: #ff9a07

    &:first-child
      &:before
        content: $icon-minus
    &:last-child
      &:before
        content: $icon-plus