.w-radio
  color: #454c53
  font:
    size: 1.8rem
  line-height: 2.6rem
  min-height: 30px
  margin-bottom: 15px
  &__title
    font:
      weight: 700
    display: block
  &__p
    font:
      weight: 400
  &__mark
    border-radius: 50%
    border: 2px solid #c3c3c3
    display: block
    height: 30px
    position: absolute
    left: 0
    top: 0
    width: 30px

    &:before
      display: none
      background-color: #2889dc
      border-radius: 50%
      content: ""
      height: 16px
      left: 5px
      position: absolute
      top: 5px
      width: 16px
  input[type="radio"]
    visibility: hidden
    width: 0 !important
    position: absolute
    left: 0
    top: 0
    height: 0 !important
    opacity: 0
    &:checked
      + label
        font-weight: bold
        .w-radio__mark
          border: 2px solid #2889dc
          &:before
            display: block
        &:before
          opacity: 1
          background-color: #636363
    //&:disabled
      + label
        opacity: 0.3
        cursor: default
        &:after
          opacity: 0.3
          border-color: #000
        &:before
          display: none !important
    + label
      display: inline-block
      position: relative
      margin: 0
      cursor: pointer
      color: inherit
      padding-left: 45px

.w-radio-simple
  color: #454c53
  font:
    size: 1.8rem
  line-height: 2.6rem
  min-height: 30px
  margin-bottom: 15px
  input[type="radio"]
    visibility: hidden
    width: 0 !important
    position: absolute
    left: 0
    top: 0
    height: 0 !important
    opacity: 0
    &:checked
      + label
        &::after
          opacity: 1
    + label
      display: inline-block
      position: relative
      margin: 0
      cursor: pointer
      color: inherit
      padding-left: 45px
      &::before
        content: ""
        width: 27px
        height: 27px
        border: 1px solid #454c53
        background-color: #fff
        border-radius: 50%
        position: absolute
        left: 0
        top: 0
      &::after
        content: ""
        width: 15px
        height: 15px
        background-color: #95c83e
        border-radius: 50%
        position: absolute
        left: 6px
        top: 6px
        transition: .25s
        opacity: 0