.selectize-dropdown-content
  max-height: none
.selectize-dropdown
  border: 1px solid #ff9c00
  border-radius: 4px
  box-shadow: 0 20px 40px rgba(69, 76, 83, 0.25)
  [data-selectable]
    &.option
      font:
        size: 1.8rem
        weight: 500
      color: #5b646e
      padding:
        left: 20px
        top: 12px
        right: 20px
        bottom: 12px
      background: transparent
      &:hover
        color: #ff151f
        background: transparent
.selectize-control
  .selectize-input > input
    display: none !important
  &.single
    .selectize-input
      height: 48px
      border: 1px solid #454c53
      border-radius: 8px
      display: flex !important
      align-items: center
      padding: 0 20px
      .item
        font:
          size: 1.8rem
          weight: 500
        color: #5b646e
      &:after
        border: none !important
        width: auto !important
        height: auto
        right: 10px !important
        font:
          size: 1rem
        color: #c3c3c3
        +icomoon
        content: $icon-caret !important

.select-custom
  position: relative
  display: inline-block
  max-width: 100%
  &.select_width_100
    width: 100%
    select
      width: 100%
  select
    appearance: none
    font:
      size: 1.4rem
      weight: 500
    max-width: 100%
    color: #5b646e
    height: 30px
    border: 1px solid #454c53
    border-radius: 5px
    display: flex !important
    align-items: center
    padding: 0 27px 0 10px
    background-color: #fff
  &::before
    pointer-events: none
    border: none
    width: auto
    height: auto
    position: absolute
    top: 50%
    right: 10px
    transform: translateY(-50%)
    font-size: .7rem
    color: #c3c3c3
    font-family: 'icomoon'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    content: "\E907"
  +MQ(EXS)
    select
      appearance: none
      font:
        size: 1.6rem
        weight: 500
      height: 45px
      border-radius: 7px
      padding: 0 27px 0 15px
      &::before
        right: 10px
        font-size: 1rem