.cart
  &__total-form
    color: #454c53
    background: #fff
    padding: 20px 15px
    line-height: 1
    &__promo
      font:
        size: 1.8rem
      display: flex
      align-items: center

      .icon-info
        margin-left: 15px
        color: #d8d8d8
        font:
          size: 2.4rem
        cursor: pointer
        &:hover
          color: #000

    &__btn
      padding-bottom: 35px
      margin-bottom: 20px
      border-bottom: 1px solid #e6e6e6
    &__info
      margin-bottom: 20px
    &__price
      line-height: 1
      margin-bottom: 5px
      font:
        size: 6rem
        weight: 700
      span
        font:
          size: 4rem

  &__hot-order
    background: #a5c967
    color: #fff
    padding: 30px 22px
    h3, p
      color: inherit
    p
      margin-bottom: 20px
  &__aside-panel
    margin-bottom: 30px
    .w-button
      min-width: 100%
      max-width: 360px
  &__table
    margin-bottom: 60px
    li
      display:  block
      margin-bottom: 18px
  &__item
    background: #fff
    position: relative
    padding: 20px
    font:
      size: 0
    &-name
      padding-right: 20px
    &-input,
    &-price
      display: inline-block
      width: 50%
      vertical-align: middle
    &-price
      text-align: right
      font:
        size: 3rem
        weight: 700
      color: #454c53
      span
        font:
          size: 2.2rem
    &-remove
      font:
        size: 3rem
      color: #d9d9d9
      background: transparent
      cursor: pointer
      padding: 0
      margin: 0
      outline: none
      border: none
      position: absolute
      right: 10px
      top: 15px
      span
        display: block
      &:hover
        color: #000

  &:after, &:before
    content: ""
    display: table
  &:after
    clear: both
  +MQ(L)
    &__aside-panel
      .w-button
        min-width: 270px
    &__total-form
      padding: 27px 22px
      &__promo
        font:
          size: 1.8rem
        display: flex
        align-items: center

        .icon-info
          margin-left: 15px
          color: #d8d8d8
          font:
            size: 2.4rem
          cursor: pointer
          &:hover
            color: #000

      &__btn
        padding-bottom: 35px
        margin-bottom: 20px
        border-bottom: 1px solid #e6e6e6
      &__info
        margin-bottom: 20px
      &__price
        line-height: 1
        margin-bottom: 5px
        font:
          size: 6rem
          weight: 700
        span
          font:
            size: 4rem

    &__table
      margin-bottom: 40px
    &__item
      display: flex
      align-items: center
      justify-content: space-between
      min-height: 100px
      &-input,
      &-price
        display: block
      &-input
        width: 200px
      &-price
        min-width: 170px
        text-align: center
      &-name
        width: 100%
      &-remove
        top: 0
        right: 0
        position: relative
    &__content,
    &__aside
      float: left
      min-height: 10px
    &__content
      width: 70%
      padding:
        right: 15px
    &__aside
      width: 30%
      padding:
        left: 15px


.callback-form
  position: relative
  display: flex
  align-items: center
  width: 100%
  height: 50px
  margin-bottom: 18px
  input
    width: 100%
    background: #fff
    padding: 0 20px
    color: #b8b8b8
    text-align: left
    height: 100%
    font:
      size: 1.8rem
      weight: 500
    border: 0
    outline: none
    border-radius: 5px 0 0 5px
    //&:placeholder
      color: #b8b8b8
  &__field
    height: 100%
    width: 100%
  &__submit
    min-width: 80px
    height: 100%

    .w-button
      border-radius: 0 5px 5px 0
    .icon-fat-arrow-r
      font:
        size: 1.7rem
  .w-button
    padding: 0
    width: 100%
    min-width: 100%
.cart-slider
  margin:
    bottom: 60px
    left: -10px
    right: -10px
  .slick-arrow
    z-index: 10
    top: 0
    bottom: 0
    width: auto
    height: auto
    transform: none
    font:
      size: 0
    &:before
      color: #feba78
      font:
        size: 5rem
      +icomoon
    &.slick-disabled
      display: none !important
  .slick-prev,
  .slick-prev:hover
    left: 0
    right: auto
    background: -moz-linear-gradient(left,  rgba(#f2f2f2,1) 0%, rgba(#f2f2f2,0.5) 50%, rgba(#f2f2f2,0) 100%)
    background: -webkit-linear-gradient(left,  rgba(#f2f2f2,1) 0%,rgba(#f2f2f2,0.5) 50%,rgba(#f2f2f2,0) 100%)
    background: linear-gradient(to right,  rgba(#f2f2f2,1) 0%,rgba(#f2f2f2,0.5) 50%,rgba(#f2f2f2,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00f2f2f2',GradientType=1 )
    &:before
      content: $icon-arrow-prev
  .slick-next,
  .slick-next:hover
    right: 0
    left: auto
    background: -moz-linear-gradient(left,  rgba(#f2f2f2,0) 0%, rgba(#f2f2f2,0.5) 50%, rgba(#f2f2f2,1) 100%)
    background: -webkit-linear-gradient(left,  rgba(#f2f2f2,0) 0%,rgba(#f2f2f2,0.5) 50%,rgba(#f2f2f2,1) 100%)
    background: linear-gradient(to right,  rgba(#f2f2f2,0) 0%,rgba(#f2f2f2,0.5) 50%,rgba(#f2f2f2,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f2f2', endColorstr='#f2f2f2',GradientType=1 )
    &:before
      content: $icon-arrow-next
  &__slide
    padding:
      left: 10px
      right: 10px
  &__item
    width: 250px
    background: #fff
    padding: 20px
    color: #454c53
    .icon-plus
      display: block
    &-footer
      display: flex
      align-items: center
      width: 100%
      justify-content: space-between
    &-add
      display: inline-block
      font:
        size: 4rem
      color: #feba78
      cursor: pointer
      .icon-plus
        font:
          size: inherit

    &-description
      display: block
      margin-bottom: 10px
      span
        display: block
        font:
          size: 1.8rem
    &-price
      font:
        size: 3rem
        weight: 700
      span
        font:
          size: 2.2rem
    &-img
      margin-bottom: 15px
      a
        display: flex
        align-items: center
        text-decoration: none
        height: 170px
        width: 100%
        justify-content: center
      img
        display: block
        max-width: 100%
        max-height: 100%
        width: auto
  +MQ(M)
    margin:
      left: -15px
      right: -15px
    &__slide
      padding:
        left: 15px
        right: 15px
    &__item
      width: 300px