.checkout-panel
  background: #fff
  padding: 27px 22px
  color: #454c53
  &__price
    font:
      weight: 500
    color: #a5c967
    p
      color: inherit
  &__discount
    color: #c3c3c3
    font:
      weight: 400
    text-decoration: line-through
  &__body
    margin-bottom: 20px
  &__footer
    border-top: 1px solid #f3f3f3
    padding-top: 20px
  &__group
    padding-bottom: 15px
    h2
      margin-bottom: 0
    .link
      font:
        size: 1.8rem
  &__row
    display: table
    width: 100%
  &__col
    display: table-cell
    vertical-align: middle
    text-align: left
    &:last-child
      text-align: right
.checkout-step
  color: #707c87
  &__check-list
    ul
      margin-left: -70px
    .w-radio input[type="radio"] + label
      padding-left: 70px
    .w-radio__mark
      left: 10px
    li
      margin-bottom: 25px
  .food-block__checker
    margin-bottom: 25px
  .icon-info
    font:
      size: 2.4rem
    color: #c3c3c3
    display: inline-block
    vertical-align: middle
    margin: 0 10px
  &__body
    margin-bottom: 40px
    padding:
      left: 70px
  &__result-line
    font:
      size: 1.8rem
      weight: 700
    p
      color: inherit
      margin-bottom: 0 !important
    .link
      font:
        weight: 400

  &.is-current
    color: #454c53
  &__header
    position: relative
    padding-left: 70px
    min-height: 50px
    margin-bottom: 25px
    padding-top: 10px
    h3
      color: inherit

  &__indicator
    position: absolute
    left: 0
    top: 0
    margin-right: 20px
    font:
      size: 3rem
      weight: 700
    display: flex
    align-items: center
    justify-content: center
    width: 50px
    height: 50px
    border-radius: 50%
    border: 2px solid #b8b8b8
    background: transparent
    color: #b8b8b8
    .is-current &
      color: #a5c967
      border: 2px solid #a5c967
      background: transparent
  +MQ(M)
    &__check-list
      ul
        margin-left: 0
      .w-radio input[type="radio"] + label
        padding-left: 45px
      .w-radio__mark
        left: 0
      li
        margin-bottom: 25px
    &__result-line
      display: flex
      align-items: center
      p
        margin-right: 15px
    .delivery-map
      margin:
        left: 45px
.discount-mark
  font:
    weight: 700
  color: #ff7e00
.checkout
  &__comment
    margin-bottom: 20px
    &__header
      margin-bottom: 10px
    textarea
      border: 1px solid #ff9c00
      max-width: 560px
      background: #fff
      width: 100%
      height: 50px
      border-radius: 5px
      padding: 10px
      font:
        size: 1.8rem
        weight: 500
      color: #454c53
      outline: none
    .link
      font:
        size: 1.8rem
      display: inline-block
    &.is-open
      .link
        border-bottom-color: transparent
        color: #000

  &__payment-icons
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
    padding: 20px 0 0
    img
      max-width: 85px
      width: 100%
      margin: 0 6px
  &__footer
    padding: 15px
    background: #fff5cc
    margin-bottom: 30px
  &__form-footer
    .w-button
      min-width: 100%
  +MQ(L)
    &__footer
      margin-bottom: 0
    &__payment-icons
      padding: 0 20px
      img
        margin-bottom: 0
    &__form-footer
      display: flex
      align-items: center
      justify-content: space-between
      .w-button
        min-width: 300px
    &__footer
      padding: 30px 60px 40px
.delivery-map
  height: 200px
  max-width: 600px

