.constructor
  border-top: 20px solid #a5c967
  border-bottom: 20px solid #ffea96
  padding-top: 330px
  position: relative
  padding-bottom: 50px
  .food-block__slider-wrapper
    position: relative
    left: 0
    right: 0
    top: 0
    transform: rotate(0)
    display: block
  @media (max-width: 767px)
    .food-block .left-mode img, .food-block .right-mode img
      width: 100% !important
  &__slider
    .slick-list
      overflow: visible
  .w-button
    min-width: 100%
  &__header
    max-width: 500px
    margin-bottom: 30px
    position: relative
    margin:
      bottom: 30px
    h2
      margin-bottom: 15px
    .mark
      color: #96c93f
      background: transparent
      padding: 0
      font:
        weight: 700
    .icon-info
      font:
        size: 3rem
      color: #d1d1d1
      margin-left: 10px
      display: inline-block
      cursor: pointer
      vertical-align: middle
  .food-block__checker,
  .constructor__right__header,
  .constructor__left__tabs
    display: none
    z-index: 100
  &__body
    position: absolute
    top: 40px
    left: 0
    right: 0
    height: 270px
  &__left
    display: block
    position: relative
    &__img
      width: 230px
      position: absolute
      top: 0
      left: 0
      transform: translateX(-45%)
    .food-block__nav
      li
        .link
          border-radius: 0 !important
          color: #fff
          &:after
            border-bottom: 1px dashed #fff
        &.active
          .link
            color: #000000
            &:after
              border-bottom: 1px dashed #000


    .food-block__nav,
    .food-block__switcher
      margin-left: 0
      margin-bottom: 0
      margin-right: 0
    &__tabs
      position: absolute
      left:
      bottom: -80px
      background-color: rgba(#454c53, 0.5)
    &__img
      position: relative
    img
      display: block
      position: relative
      //left: -10%
      //width: 120%
  &__middle
    text-align: center
    &__img
      transform: rotateZ(-90deg) translateY(50%)
      transform-origin: 0% 100%
      width: 85px
      position: absolute
      bottom: 0
      right: -40px
    img
      max-width: 100%
      width: 100%
      display: block
      margin: 0 auto
  &__right
    &__img
      width: 180px
      position: absolute
      top: 0
      right: -45px
    img
      width: 100%
      display: block
  +MQ(EXS)
    &__left
      &__img
        transform: translateX(-25%)
  +MQ(M)
    padding-top: 400px
    &__body
      height: 350px
    &__left__img
      width: 350px
      transform: translateX(0)
      img
        width: 100% !important
  +MQ(L)
    border-top: none
    border-bottom: none
    padding-bottom: 0
    padding-top: 0
    .w-button
      min-width: 0
    &__body
      position: relative
      top: auto
      left: auto
      right: auto
      height: auto
    &__middle
      width: 26%
      &__img
        transform: none
        width: 100%
        display: inline-block
        position: relative
        right: auto
        top: auto
        .slick-slider
          width: 200px
          margin: 0 auto
      &__wrap
        margin:
          left: -30px
          right: -30px
      .food-block__checker
        margin-bottom: 30px
        justify-content: center
    &__right
      margin-top: -270px
      width: 33%
      position: relative
      &__img
        width: auto
        position: relative
        top: auto
        right: auto
      &__price
        color: #454c53
        font:
          size: 6rem
          weight: 700
        span
          font:
            size: 4rem
      &__header
        margin-bottom: 45px
      &__row
        display: flex
        align-items: center
        justify-content: space-between
    .food-block__slider-wrapper
      margin-left: 0 !important
      margin-right: 0 !important
      width: 100% !important
    &__left
      overflow: hidden
      width: 42%
      padding-bottom: 100px
      .left-mode img,
      .right-mode img
        width: 490px
      .food-block__checker
        margin-bottom: 50px
      &__img
        transform: none
        width: 100%
        position: relative
        top: auto
        left: auto
    .food-block__checker
      display: flex
    .constructor__right__header,
    .constructor__left__tabs
      display: block
    &__body
      display: flex
      align-items: flex-start
      justify-content: space-between
    &__left-corner
      position: absolute
      left: -45px
      top: -45px
      width: 300px
      height: 300px
      border-top: 20px solid #a5c967
      border-left: 20px solid #a5c967
      &:after,
      &:before
        position: absolute
        width: 0
        content: ""
        height: 0
        border-style: solid
        border-width: 20px 20px 0 0
        border-color: #a5c967 transparent transparent transparent
      &:after
        left: -20px
        bottom: -20px
      &:before
        right: -20px
        top: -20px
    &__right-corner
      position: absolute
      right: -45px
      bottom: -45px
      width: 300px
      height: 300px
      border-bottom: 20px solid #ffea96
      border-right: 20px solid #ffea96
      &:after,
      &:before
        position: absolute
        width: 0
        content: ""
        height: 0
        border-style: solid
        border-width: 0 0 20px 20px
        border-color: transparent transparent #ffea96 transparent
      &:after
        right: -20px
        top: -20px
      &:before
        left: -20px
        bottom: -20px

@media only screen and (max-width: $L) 
  .constructor
    padding-top: 0
    display: flex
    flex-direction: column
    .constructor__header
      order: 2
    .constructor__body
      order: 1
      position: relative
      top: 0
      height: auto
    & > button
      order: 3
.constructor-changed-block 
  .slick-list
    overflow: visible
  .food-block__slider-container 
    margin-right: 0
    @media only screen and (max-width: $L) 
      position: relative
      top: 0
      left: auto
.constructor__left
  @media only screen and (max-width: $L) 
    right: 50%
    .constructor__left__img
      transform: translateX(0)
      > .constructor__slider
      .food-block__slider-container
        transform: rotate(0)
  .constructor__left__img.cut-mode
    .food-block__line
      display: block
    .right-mode
      opacity: 1
      visibility: visible