.desert-banner
  margin-bottom: 30px
  position: relative
  .link
    border-bottom: none
    span
      color: #919090
    &.is-active
      span
        color: #fff
  .food-block__checker
    li
      margin-right: 13px
  .food-block__checker
    margin-bottom: 20px
  .icon-info
    font:
      size: 3rem
    color: #c3c3c3
    display: inline-block
    vertical-align: middle
    margin-left: 7px
  &__form
    background: #fff5cc
    position: relative
    color: #454c53
    padding: 20px
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
    h2
      margin-bottom: 20px
    .w-button
      min-width: 100%
  &__price
    font:
      weight: 700
      size: 3rem
    margin-bottom: 10px
    span
      font:
        size: 2rem
  &__img
    margin:
      left: -20px
      right: -20px
      bottom: -30px
    img
      height: auto
      width: 100%
      display: block
  +MQ(L)
    display: flex
    align-items: flex-start
    position: relative

    &__price
      margin-bottom: 0
    &__description
      padding-top: 90px
      width: 445px
      p
        max-width: 320px
    &__col
      width: 100%
      &:first-child
        padding:
          right: 20px
        min-width: 445px
    &__form
      max-width: 840px
      position: absolute
      box-shadow: none
      left: -20px
      bottom: 15px
      display: flex
      align-items: flex-start
      .w-button
        min-width: 0
    &__img
      //height: 500px
      margin:
        left: auto
        right: auto
        bottom: 0
      img
        width: 100%
        height: auto
    &__form-footer
      display: flex
      align-items: center
      justify-content: space-between

.desert-list
  position: relative
  z-index: 10
  margin:
    left: -20px
    right: -20px
  li
    margin-bottom: 20px
  +MQ(L)
    margin:
      left: 0
      right: 0  
    ul
      margin:
        left: -15px
        right: -15px
      &:after, &:before
        content: ""
        display: table
      &:after
        clear: both
    li
      width: 33.33%
      float: left
      margin-bottom: 0
      padding:
        left: 15px
        right: 15px
.desert-card
  padding: 20px
  background: #fff
  width: 100%
  color: #454c53
  .icon-info
    font:
      size: 3rem
    color: #c3c3c3
  &__price-box
    display: flex
    align-items: center
    justify-content: space-between
  &__price
    font:
      size: 3rem
      weight: 700
    span
      font:
        size: 2rem
  &__title
    margin-bottom: 20px
    color: #454c53
    display: flex
    justify-content: space-between
    align-items: center
    span
      color: #adb1b6
      font:
        size: 1.3rem
      position: relative
      top: -8px
  &__img
    margin-bottom: 20px
    img
      position: relative
      margin: 0 auto
      display: block
      width: 100%
      max-width: 340px
  +MQ(M)
    &__img
      height: 245px
      display: flex
      align-items: center
      overflow: hidden
      img
        max-width: 100%
        max-height: 100%
        width: auto