.drink-card
  background: #fff
  color: #454c53
  button
    background: transparent
  .food-block__checker
    position: absolute
    right: 20px
    top: 20px
    display: block
    li
      display: block
      margin: 0 0 5px
  &__price
    font:
      size: 3rem
      weight: 700
    span
      font:
        size: 2rem
  &__footer
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 25px 25px
  .icon-plus
    font:
      size: 3rem
    cursor: pointer
    color: #ff9700
  &__title
    display: flex
    padding: 0 25px
    h3
      margin-bottom: 0
    .icon-info
      font:
        size: 3rem
      color: #c3c3c3
      display: inline-block
      vertical-align: middle
      margin-left: 7px
  &__img
    height: 300px
    position: relative
    padding: 0 25px 25px
    img
      position: relative
      height: 340px
      top: -40px
      display: block
