.footer
  .link
    font:
      size: 1.8rem
  nav
    ul
      padding-bottom: 20px
      li
        margin-bottom: 10px
  .container
    border:
      top: 1px solid #e6e6e6
    padding-top: 30px
  &__copyright
    font:
      size: 1.8rem
      weight: 400
    color: rgba(#000000, 0.5)
    padding-bottom: 25px
  +MQ(L)
    position: relative
    min-height: 100px
    nav
      width: 100%
      display: flex
      align-items: flex-start
      justify-content: space-between
      ul
        display: flex
        align-items: center
        padding-bottom: 0
        li
          margin-bottom: 0
          + li
            margin-left: 45px
    .link
      font:
        size: 1.8rem
    .container
      border:
        top: 1px solid #e6e6e6
      padding-top: 30px
    &__copyright
      padding-bottom: 0