$borderWidth: 6px
.food-block
  z-index: 12
  position: relative
  &__slider-container
    width: 250px
    margin: 0 auto
  &.cut-mode,
  .cut-mode
    .left-mode
      width: 50%
    .right-mode
      opacity: 1
      visibility: visible
    .is-active + .food-block__line
      display: block
  &__line
    position: absolute
    left: 50%
    width: $borderWidth
    display: none
    margin-left: -$borderWidth / 2
    z-index: 10
    background: #a5c967
    top: 0
    bottom: 0
    border-radius: 3px
    &.is-yellow
      background: #ffea96
  &__slide
    position: relative
  &__slide-extra
    z-index: 100
    width: 70px
    right: calc(50% - 50px)
    position: absolute
    &.extra-1
      top: 100px
    &.extra-2
      top: 175px
    img
      width: 100%
  .left-mode
    width: 100%
  &__slider-container
    position: absolute
    top: 50px
    right: 35%
    transform: rotate(90deg)
  &__slider-wrapper
    display: flex
  .left-mode,
  .right-mode
    z-index: 1
    overflow: hidden
    position: relative
    img
      width: 250px
      display: block
      max-width: none
  .right-mode
    position: absolute
    top: 0
    left: 50%
    opacity: 0
    width: 50%
    visibility: hidden
    img
      float: right
  &__slider-wrapper
    .slick-list
      overflow: visible
  &__info
    padding-left: 52%
    z-index: 100
  &__header
    z-index: 100
    h2
      margin-bottom: 0px
  .is-reverse &
    flex-direction: row-reverse
    &__slider-container
      left: 35%
      right: auto
    &__info
      padding-left: 0
      padding-right: 52%
    .icon-info
      right: -25px
      left: auto
    &__price
      left: auto
      right: -100%
  .section_size_big &
    &__header 
      position: relative
      padding-left: 40px
    &__slider-container 
      position: relative
    .fullpage__shape
      width: 75%
      height: auto
      top: 50%
      transform: translateY(-56%)
      left: 12.5%
    &__info
      min-height: 1px
      padding-left: 20px
      .mobile-souse-checker__anchor
        margin-left: 0
    &__slider-container
      transform: rotate(0)
      position: relative
      top: 0
      left: 0
      max-width: 450px
    .left-mode
      img
        width: 100%
    &.cut-mode,
    .cut-mode
      .left-mode,
      .right-mode 
        img
          width: 200%
    &__footer
      display: flex
      justify-content: flex-end
    .w-button
      min-width: calc(50% + 20px)
    &__price
      right: auto
      left: 0
  &__checker
    display: flex
    align-items: center
    flex-wrap: wrap
    ul
      min-width: 100%
      display: flex
      align-items: center
      flex-wrap: wrap
    &.is-light
      .link
        font:
          size: 1.8rem
        color: #2889dc
        display: inline-block
        background: transparent
        padding: 0 5px
        min-width: 0
        border: 1px solid transparent
        &:after
          content: ""
          display: block
          border: 1px dashed #d4e7f8
          width: 100%
        &.is-active
          box-shadow: none
          border: 1px solid #454c53
          color: #454c53
          background: transparent
          &:after
            display: none

    li
      margin-right: 20px
    sup
      font:
        size: 1.6rem
        weight: 700
      position: relative
      bottom: 5px
      text-decoration: none
    .link
      font:
        size: 2.2rem
        weight: 500
      min-width: 34px
      padding:
        left: 5px
        right: 5px
      text-align: center
      display: inline-block
      text-decoration: none
      &.is-active
        background: #ff9700
        color: #fff
        box-shadow: 0 5px 10px rgba(255, 144, 0, 0.35)
        border-radius: 2px
        border: none
  &__nav
    margin:
      left: -20px
      right: -20px
      bottom: 0
    display: flex
    align-items: center
    .link
      height: 40px
      border-radius: 10px 10px 0 0
      padding: 10px 15px 0
      display: block
      font:
        size: 1.6rem
        weight: 700
      border: none
      text-decoration: none
      &:after
        content: ""
        display: block
        border: 1px dashed #2889dc
        width: 100%
    li
      &.active
        .link
          color: #363636
          background: #fff5cc
          &:after
            visibility: hidden
    .remove-second-food
      display: none
      a 
        color: #da3f3f
        margin-top: 10px
        padding: 5px 3px
        position: relative
        top: 5px
        text-decoration: none
        i
          margin-right: 5px

  &__info
    min-height: 300px
    display: flex
    flex-direction: column
    flex-grow: 1
    padding-left: 50%
    max-width: 100%
    .is-reverse &
      padding-right: 50%
  &__header
    margin-bottom: 15px
  h2
    display: inline-block
    position: relative
    margin-bottom: 15px
  .icon-info
    position: absolute
    top: 2px
    left: -25px
    font-size: 2rem
    color: #7c974e

  &__slider-container
    &:after, &:before
      content: ""
      display: table
    &:after
      clear: both
    img
      display: block
      max-width: 100%
  &__description
    & > p
      display: none
      +MQ(EXS)
        display: inline-block
  &__checker
    &.food-block__checker_type_points
      .radio
        width: 100%
        input
          position: absolute
          clip: rect(1px, 1px, 1px, 1px)
          -webkit-appearance: none
          appearance: none
          position: absolute
          top: 0
          left: 0
          &:checked
            + label 
              &::after
                opacity: 1
        label
          padding: 0
          font-size: 1.4rem
          font-weight: 400
          text-decoration: underline
          line-height: 1.3
          &::before, &::after
            content: ""
            border-radius: 50%
          &::before
            display: inline-block
            position: relative
            top: 3px
            width: 16px
            height: 16px
            border: 1px solid #454c53
            margin-right: 7px
          &::after
            position: absolute
            top: 6px
            left: 3px
            width: 10px
            height: 10px
            background-color: #a5c967
            opacity: 0
            transition: .3s
    &.food-block__checker_type_tabs
      .radio
        position: relative
        margin: 0
        input
          position: absolute
          clip: rect(1px, 1px, 1px, 1px)
          -webkit-appearance: none
          appearance: none
          &:checked
            & + label
              color: #454c53
              background-color: #fff
        label
          border: 1px solid #454c53
          display: flex
          justify-content: center
          align-items: center
          font:
            size: 14px
            weight: 700
          padding: 2px 5px
          min-width: 45px
          color: #c2c2c2
          background-color: #ececec
          transition: .25s
        &:first-child
          label
            border-top-left-radius: 5px
            border-bottom-left-radius: 5px
        &:last-child
          label
            border-top-right-radius: 5px
            border-bottom-right-radius: 5px
        &:not(:last-child)
          label
            border-right: none
  &__footer
    position: relative
    margin-top: 45px
    width: 100%
    .w-button
      min-width: 100%
  &__price
    line-height: 1
    display: inline-block
    text-align: center
    position: absolute
    left: -100%
    top: 50%
    transform: translateY(-50%)
    color: #363636
    font-size: 3.5rem
    font-weight: 700
    width: 100%
    span
      font:
        size: 2.7rem
      position: relative
      top: 0.4rem
  &__switcher
    background: #fff5cc
    margin-bottom: 25px
    padding: 15px 10px
    font:
      size: 1.8rem
    margin:
      left: -20px
      right: -20px
    ul
      display: flex
      align-items: center
      flex-wrap: wrap
    li
      margin-bottom: 15px
      margin-right: 15px
    .link
      display: inline-block
      text-decoration: none
      &.is-active
        padding: 4px 10px
        background-color: #ffe164
        border-radius: 2px
        box-shadow: inset 1.4px 1.4px 4px rgba(179, 155, 0, 0.35)
        color: #363636
        border: none
      &.is-disabled
        color: #b2ab8f
        border: none
        cursor: default
  +MQ(XS)
    &__slider-container
      right: 40%
      .is-reverse &
        left: 40%
    &__slide-extra
      .extra-1
        right: -5%
      .extra-2
        right: 5%
  +MQ(S)
    &__slider-container
      right: 50%
      .is-reverse &
        left: 50%
  +MQ(EXS)
    &__slider-container
      width: 500px
      right: 35%
      .is-reverse &
        left: 35%
    .icon-info
      font-size: 3rem
      left: -40px
    .is-reverse &
       .icon-info
        right: -40px
    .left-mode,
    .right-mode
      img
        width: 500px
    .mobile-souse-checker__anchor
      font-size: 1.8rem
      label
        font-size: 1.6rem
        &::after
          top: 8px
    &__info
      min-height: 500px
    .mobile-souse-checker
      flex-grow: 0
    &__checker
      &.food-block__checker_type_tabs 
        .radio
          label
            font-size: 1.6rem
            padding: 5px 10px
            min-width: 65px
      &.food-block__checker_type_points 
        .radio 
          label
            font-size: 1.6rem
    &__description
      flex-grow: 1
      display: flex
      flex-direction: column
    &__footer
      flex-grow: 1
      display: flex
      align-items: flex-end
      margin-top: 90px
    &__price
      transform: translateY(0)
      top: auto
      bottom: 0
  +MQ(M)
    &__slide-extra
      width: 160px
      &.extra-1
        top: 0px
        right: calc(50% - 157px)
      &.extra-2
        top: 128px
        right: calc(50% - 60px)
    &__slider-container
      width: 570px
      top: 80px
      right: 45%
    .is-reverse &
      &__slider-container
        left: 45%
    .left-mode,
    .right-mode
      img
        width: 570px
    .section_size_big &
      &__slider-container
        max-width: 570px
    .mobile-souse-checker__anchor
      font-size: 2rem
      label
        font-size: 1.8rem
        &::before
          width: 20px
          height: 20px
        &::after
          width: 12px
          height: 12px
          top: 7px
          left: 4px
    &__info
      min-height: 640px
    &__checker
      &.food-block__checker_type_tabs 
        .radio
          label
            font-size: 1.8rem
            padding: 7px 14px
            min-width: 65px
      &.food-block__checker_type_points 
        .radio 
          label
            font-size: 1.8rem
            &::before
              width: 20px
              height: 20px
            &::after
              width: 12px
              height: 12px
              top: 7px
              left: 4px

  +MQ(L)
    display: flex
    align-items: center
    justify-content: space-between
    height: 100%
    position: relative
    z-index: 14
    &__header h2
      font-size: 4.4rem
    &__info
      width: 34%
      padding-left: 0
      flex-grow: 0
    .left-mode,
    .right-mode
      img
        width: 800px
    &__nav 
      .link
        font-size: 1.8rem
    &__price
      position: static
      transform: translateY(0)
      line-height: 1
      font-size: 4rem
      text-align: left
      .section_size_big &
        margin-bottom: 0
      span
        font-size: 60%
    &__footer
      flex-grow: 0
      padding-top: 20px
      display: flex
      align-items: center
      justify-content: space-between
      .section_size_big &
        flex-direction: row
        align-items: center
        justify-content: space-between
      .w-button
        min-width: 200px
    .icon-info
      color: #c4c4c4
      position: static
    .is-reverse &
      &__slider-container
        right: auto
        margin:
          right: -120px
          left: auto
      &__info
        width: 34%
        padding-right: 0
    &__slide-extra
      position: absolute
      width: 250px
      z-index: 110
      img
        width: 100%
      &.extra-1
        top: 80px
        right: calc(50% - 80px)
      &.extra-2
        top: 460px
        right: calc(50% - 115px)
    &__slider-container
      transform: rotate(0)
      max-width: 100%
      top: 0
      left: auto !important
      right: auto !important
      width: 66%
      margin:
        bottom: 0
        left: -120px
        right: auto
      position: relative
      z-index: 11
    &__slider-container
      width: 800px
      position: relative
      margin-right: -120px
    &-type-main-food 
      margin-top: 10px
      margin-bottom: 20px
      margin-left: -20px
      &.food-block__checker_type_points
        flex-direction: row
        .radio
          margin-top: 0
          margin-bottom: 10px
          width: auto
          &:not(:last-child)
            margin-right: 15px
          input
            &:checked
              + label
                background: #ff9700
                color: #fff
                box-shadow: 0 5px 10px rgba(255, 144, 0, 0.35)
                text-decoration: none
          label
            font-size: 1.8rem
            font-weight: 500
            padding-left: 5px
            padding-right: 5px
            &::before, &::after
              content: none


    .section_size_big &
      flex-direction: column
      .fullpage__shape
        width: 900px
        transform: translateY(0)
        top: -45%
        left: -35%
        z-index: -1
      .nice-number
        display: none
      &__header
        order: 1
        padding-left: 0
        text-align: center
        .icon-info
          position: static
          .mobile-souse-checker__anchor
            margin-bottom: 0
        p:not(:last-child)
          margin-bottom: 10px
      &__slider-container
        order: 3
        width: 100%
        max-width: 1100px
        margin-left: auto
        margin-right: auto
      &__info
        order: 2
        width: auto
        .mobile-souse-checker__anchor
          margin-bottom: 0
      &__description
        right: 0
        top: 40%
        position: absolute
        z-index: 13
        box-shadow: 0 10px 20px rgba(69, 76, 83, 0.15)
        border-radius: 4px
        background-color: #fff5cc
        opacity: 0.95
        padding: 30px
        max-width: 470px
        p
          padding-right: 100px
        .food-block__footer
          padding: 0
          margin-bottom: 40px
          margin-top: 0
        .food-block__price
          margin-bottom: 0
      &__footer
        padding-top: 0
      &__price
        font-size: 40px
        margin-right: 34px
        span
          font-size: 3rem
      &__nav
        display: flex
        justify-content: center
        margin-left: 0
        margin-right: 0
      &__switcher 
        margin-left: 0
        margin-right: 0
        ul
          margin-bottom: 0
        li
          margin-bottom: 0
          &:last-child
            margin-right: 0
  +MQ(EXL)
    &__price
      font-size: 6rem
    &-type-main-food 
      margin-left: 0
      &.food-block__checker_type_points
        .radio
          label
            font-size: 2rem
.mobile-souse-checker
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: space-between
  color: #454c53
  &__section
    margin-bottom: 15px
  .mark
    background: transparent
    color: #a5c967
  &__anchor
    position: relative
    margin-bottom: 7px
    font:
      size: 1.6rem
    input[type="checkbox"]
      clip: rect(1px, 1px, 1px, 1px)
      -webkit-appearance: none
      appearance: none
      position: absolute
      top: 0
      left: 0
      &:checked
        + label 
          &::after
            opacity: 1

    label
      font-size: 1.4rem
      font-weight: 400
      text-decoration: underline
      line-height: 1.3
      &::before, &::after
        content: ""
        border-radius: 50%
      &::before
        display: inline-block
        position: relative
        top: 3px
        width: 16px
        height: 16px
        border: 1px solid #454c53
        margin-right: 7px
      &::after
        position: absolute
        top: 6px
        left: 3px
        width: 10px
        height: 10px
        background-color: #a5c967
        opacity: 0
        transition: .3s
  h6
    color: inherit
    padding: 0
    margin: 0
    font:
      size: inherit
      weight: 700
  &__description
    font-size: 1.4rem
    margin-top: 10px