.header
  position: relative
  line-height: 1.2
  margin-bottom: 60px
  &__contact-info
    color: #454c53
    font:
      size: 1.8rem
  &__phone
    display: block
    font:
      size: 2.2rem
      weight: 700

  &.header_mobile 
    display: flex
    align-items: center
    position: -webkit-sticky
    position: sticky
    top: 0
    margin-bottom: 0
    min-height: 60px
    box-shadow: 4px 9px 20px rgba(68, 74, 81, 0.7)
    background-color: #ffffff
    padding: 10px 15px 10px 140px
    z-index: 1100
    .header__nav
      flex-grow: 1
      display: flex
      align-items: center
    .header__logo
      position: absolute
      top: 0
      left: 0
      margin-bottom: 0
      width: 140px
    .header__contact-info
      flex-grow: 1
      font-size: 1.5rem
      .header__phone
        font-size: inherit
    .header__backet
      position: relative
      flex: 0 0 30px
      max-width: 30px
      height: auto
      font-size: 33px
      color: #454c53
    +MQ(XS)
      padding-left: 150px
      .header__logo
        width: 150px
      .header__contact-info
        font-size: 1.6rem
        .header__phone
          font-size: 2rem
    +MQ(S)
      min-height: 80px
      padding-left: 190px
      .header__logo
        width: 190px
      .header__contact-info
        font-size: 1.7rem
        .header__phone
          font-size: 2.2rem
    +MQ(L)
      display: none
  &:not(.header_mobile):after
    content: ""
    display: block
    position: absolute
    width: 180px
    height: 180px
    right: -30px
    top: -30px
    background: url("../../images/header_cheaken.png") no-repeat 0 0
    background-size: 100%
  .container
    padding:
      top: 30px
  &__slogan
    font:
      size: 2.2rem
      weight: 700
    color: #454c53
    margin-bottom: 15px
  &__logo
    width: 180px
    position: relative
    z-index: 10
    margin-bottom: 15px
    img
      display: block
      width: 100%
  +MQ(L)
    min-height: 110px
    margin-bottom: 70px
    &__phone
      font:
        size: 3rem
    &:after
      display: none
    .container
      padding:
        top: 0
    &__slogan
      max-width: 370px
      margin-bottom: 0
    &__logo
      position: absolute
      left: 0
      margin: 0
      top: 40px
    &__nav
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      padding-left: 230px
      position: relative
    &__contact-info,
    &__slogan
      padding:
        top: 50px
    &__contact-info
      max-width: 570px
      width: 100%
      font:
        size: 1.8rem
        weight: 400
      color: #454c53
      padding:
        left: 270px
      position: relative
      &:after
        content: ""
        display: block
        position: absolute
        width: 200px
        height: 200px
        left: 0
        top: -40px
        background: url("../../images/header_cheaken.png") no-repeat 0 0