@import "./../partials/variables"

.index
  .section
    .index__footer
      background: transparent
      color: #454c53
      .container
        border: 0
      &__phones
        line-height: 1
        margin-bottom: 30px
        font:
          weight: 700
          size: 1.8rem
        strong
          font:
            size: 3rem
          display: block
      &__logo
        width: 182px
        margin-bottom: 15px
        a
          text-decoration: none
          display: inline-block
        img
          display: block
          width: 100%
      &__copyright
        font:
          size: 1.8rem
          weight: 500
        color: rgba(#000000, 0.5)
      &__social-list
        margin-bottom: 0
        display: block
        li
          display: inline-block
          margin: 0 20px 0 0
          vertical-align: middle
        a
          display: inline-block
          text-decoration: none
        img
          width: 50px
          height: 50px
      p
        display: block
      &__insta-box
        display: flex
        padding-bottom: 20px
        align-items: flex-end
      &__insta
        font:
          weight: 700
          size: 2.2rem
        line-height: 2.6rem
        position: relative
        margin-bottom: 30px

      &__phone
        font:
          size: 6rem
          weight: 700
      nav
        ul
          margin-bottom: 0
          padding-bottom: 23px
          li
            margin: 0 0 7px
  &__header
    .popover
      background: #454c53
      color: #fff
      border: none
      box-shadow: none
      padding: 20px
      min-width: 375px
      margin-left: -20px
      border-radius: 0
      font:
        family: Mir
      &.bottom > .arrow:after
        border-bottom-color: #454c53
      .popover-wrap
        width: 100%
        padding-right: 20px
      .popover-title
        background: transparent
        border: none
      .popover-content
        padding: 0
        display: flex
        align-items: center
        img
          width: 115px
          display: block
        a
          color: inherit
          border-bottom: 1px dashed #fff
          &:hover
            border-bottom: 1px solid transparent
      h3, p
        font:
          family: inherit
        color: inherit
        line-height: 2.4rem
        font:
          size: 1.8rem
      h3
        margin-bottom: 5px
        font:
          weight: 700


  .index__header,
  &__header-info
    display: none

  +MQ(L)
    .index__header 
      display: block
    .section
      .index__footer
        padding-top: 80px
        &__phones
          margin-bottom: 40px
          font:
            size: 2.2rem
          strong
            font:
              size: 5rem
        &__logo
          margin-bottom: 0
        &__contacts
          display: flex
          align-items: flex-start
          justify-content: space-between
        &__copyright
          font:
            size: 1.8rem
            weight: 500
          color: rgba(#000000, 0.5)
        &__social-list
          display: flex
          li
            display: block
            &:not(:last-child)
              margin: 0 17px 17px 0
          a
            display: inline-block
            text-decoration: none
        &__insta-box
          padding-bottom: 0
          display: block
        &__insta-img
          margin-bottom: 15px
          margin-right: 0
          width: 100px
          img
            border-radius: 24px
        &__insta
          padding-right: 150px
          margin-bottom: 20px
        &__social
          min-width: 410px
        nav
          width: 100%
          display: block
          padding-right: 110px

          .link
            font:
              weight: 700
          ul
            li
              margin: 0
              &:not(:last-child)
                margin-right: 15px
        .container
          padding: 50px 0 60px
          border: none
          min-height: 0
          display: flex
          align-items: flex-start
          justify-content: space-between
    &__header
      position: absolute
      right: 0
      left: 0
      top: 0
      z-index: 1050
    &__header-info
      position: relative
      display: block
      line-height: 1
      pointer-events: none
      &__phone
        font:
          size: 3rem
          weight: 700
        color: #454c53
        margin-right: 45px
        .is-hidden &
          display: none
      &__cart
        color: #fff
        font:
          size: 1.8rem
          weight: 700
        text-decoration: none
        display: flex
        align-items: center
        background-color: #ff9700
        border-radius: 25px
        box-shadow: 0 20px 40px rgba(255, 144, 0, 0.35)
        height: 50px
        padding: 12px 12px 12px 25px
        span
          margin-left: 17px
          display: block
          border-radius: 15px
          background: #fff
          line-height: 3rem
          height: 30px
          color: #ff9700
          padding: 0 10px
      &__wrapper
        float: right
        position: relative
        background-color: rgba(255,255,255,.85)
        height: 70px
        border-radius: 35px
        z-index: 1
        display: flex
        margin-top: 25px
        align-items: center
        padding: 0 25px
        pointer-events: all
        &.is-hidden
          background: transparent
.fullpage
  background: #fff
  @media (max-width: $L)
    .container
      max-width: 600px
    .section
      height: auto !important
    .fp-tableCell
      height: auto !important
      display: block !important
  &__shape
    width: 275px
    height: 275px
    position: absolute
    right: calc(45% + 15px)
    top: 45px
    .is-reverse &
      left: calc(45% + 15px)
      right: auto
    img
      display: block
      width: 100%
    +MQ(EXS)
      width: 500px
      height: 500px
      top: 35px
    +MQ(M)
      width: 600px
      height: 600px
      right: calc(50% + 15px)
      .is-reverse &
        left: calc(50% + 15px)

  .section
    position: relative
    .container
      padding:
        top: 30px
        bottom: 30px

  .section-main
    &__phone
      color: #454c53
      font:
        size: 1.8rem
      span
        display: block
      strong
        font:
          size: 3rem
          weight: 700
    &__nav
      margin-bottom: 25px
      display: block
      position: relative
      white-space: nowrap
      ul
        overflow: auto
        padding-right: 30px
      &:after
        content: ""
        display: block
        width: 30px
        pointer-events: none
        height: 100%
        position: absolute
        right: 0
        top: 0
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%)
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,1) 100%)
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 )

      li
        display: inline-block
        + li
          margin-left: 10px
      .link
        font:
          size: 1.8rem
        &:hover
          color: #ff151f
          border-color: #ff151f

    &__shape-logo
      position: absolute
      left: 50%
      transform: translateX(-50%) translateY(-50%)
      top: 50%
      width: 40%
      overflow: hidden
      img
        width: 100%
        display: block
    &__content
      position: relative
      z-index: 10
    .container
      padding:
        top: 30px
    .shape-1
      width: 180px
      right: -30px
      top: -30px
      height: 180px
    &__slogan
      font:
        size: 2rem
        weight: 700
      line-height: 1.4
      max-width: 320px
      color: #454c53
      margin-bottom: 20px
    &__logo
      width: 180px
      display: block
      margin-bottom: 40px
      img
        width: 100%
        display: block
    &-addresses
      margin-top: 40px
    &__address
      font-size: 1.6rem
      font-weight: 700
      .work-time 
        font:
          size: 85%
          weight: 400
      &:not(:last-child)
        margin-bottom: 20px
      p
        color: inherit
        font-size: inherit
        margin-bottom: 0
        +MQ(L)
          margin-bottom: 7px
      a
        color: inherit
        border-bottom: 1px dashed #454c53
        text-decoration: none
        &:hover
          border-bottom-color: transparent
  .section-2
    .shape-1
      display: none
    .mark
      background: #fff
      border-radius: 4px
      padding: 2px 3px
      margin-left: 5px
      display: inline-block
    h1
      text-align: left
      display: block
    &__price
      font:
        size: 3rem
        weight: 700
      margin-bottom: 10px
      span
        font:
          size: 2rem
    &__plate
      position: relative
      z-index: 10
      img
        display: block
        width: auto
        max-width: 140%
        margin: 0 0 -140px -20px
    &__info
      position: relative
      color: #454c53
      background-color: rgba(#fff5cc, 0.95)
      padding: 30px 25px 40px
      margin:
        left: -20px
        right: -20px
      .w-button
        min-width: 100%
    &__form-row
      position: relative
      .selectize-control
        margin-bottom: 20px
      p
        margin-bottom: 10px
    &__form
      padding-top: 30px
      position: relative
      z-index: 11
      p
        font:
          size: 1.8rem
          weight: 500
  .section-6
    .shape-1
      right: -300px
      left: auto
    .food-block__checker
      label
        text-decoration: none
        span
          text-decoration: underline
  .section-7
    .shape-1
      left: -250px
      top: 0
    &__drinks
      position: relative
      z-index: 1
  .section-8
    .icon-info
      display: none
    &__nav
      li
        margin-bottom: 20px
        &.active .link
          border-bottom: 1px solid transparent
          background-color: #ff9700
          border-radius: 2px
          box-shadow: 0 5px 10px rgba(255, 144, 0, 0.35)
      .link
        font:
          size: 2.2rem
          weight: 500
        border-bottom: 1px dashed #6a7075
        color: #fff
        padding: 5px 10px
    &__percentage
      line-height: 1
      display: block
      margin-top: -50px
      font:
        size: 9rem
        weight: 700
      color: #96c93f
    &__tabs
      background: #454c53
      padding: 20px 15px
      color: #fff
      position: relative
      z-index: 10
      p
        font:
          size: 2.2rem
          weight: 500
        margin-bottom: 30px
        color: #fff
        .link
          border-bottom-color: #fff
          color: inherit
      h1
        font:
          size: 3rem
        color: inherit
        margin-bottom: 17px
    .shape-1
      display: none
  +MQ(M)
    .section-main
      &-addresses
        margin-top: 40px
      &__address
        font-size: 2rem
        &:not(:last-child)
          margin-bottom: 25px
  +MQ(L)
    .section-1,
    .section-3
      .food-block
        padding-top: 60px
    &__shape
      width: 700px
      height: 700px
      left: -100px
      top: 130px
      .is-reverse &
        left: auto
        right: -100px
    .section
      overflow: hidden
      .container
        min-height: 100vh
        padding:
          top: 100px
          bottom: 100px
    .section-1
      .container
        padding-top: 150px
        min-height: 1050px
    .section-1-1
      .container
        padding-top: 150px
        min-height: 1080px
    .section-1-2
      .fullpage__shape
        top: 0
      .container
        padding-top: 50px
        padding-bottom: 50px
      .food-block__slider-container
        margin-right: -200px
    .section-2
      .container
        padding-top: 150px
        min-height: 950px
      .shape-1
        top: -900px
        right: -200px
        display: block
        left: auto
    .section-3
      .container
        padding-top: 100px
        min-height: 950px
    .section-4
      .container
        padding-top: 150px
        min-height: 950px
      h1
        text-align: center
      &__price
        margin-bottom: 0
        font:
          size: 6rem
          weight: 500
        color: #454c53
      &__plate
        .w-button
          min-width: 0
        img
          width: 80%
          margin: 0 auto
          max-width: 100%
      &__info
        position: absolute
        right: 0
        background: #fef4cd
        box-shadow: 0 10px 20px rgba(69, 76, 83, 0.15)
        top: 50%
        transform: translateY(-50%)
        padding: 20px 25px
        width: 460px
        margin:
          left: 0
          right: 0

      &__form-row
        display: flex
        align-items: center
        justify-content: center
        .selectize-control, p
          margin-bottom: 0
      &__form
        padding-top: 0
        p
          margin:
            left: 15px
            right: 15px
      &__form-footer
        display: flex
        align-items: center
        justify-content: space-between
    .section-5 
      padding-top: 50px
      .remove-second-food a
        color: #fff
      .constructor__left__img img
        width: 480px !important
    .section-7
      &__drinks
        color: #454c53
        > ul
          > li
            margin-bottom: 30px
            float: left
            width: 25%
            padding:
              left: 15px
              right: 15px
            &:nth-child(4n+1)
              clear: both
    .section-8
      &__percentage
        top: 0
        bottom: 0
        right: auto
        left: 100%
        position: absolute
        display: flex
        span
          transform: rotateZ(270deg)
          font-weight: 700
          font-size: 30rem
          color: #96c93f
      > .container
        padding:
          top: 300px
          bottom: 300px
      .icon-info
        color: #c3c3c3
        display: block
        font:
          size: 5rem
        cursor: pointer
        position: absolute
        right: 50px
        top: 50px
      &__nav
        display: flex
        align-items: center
        flex-wrap: wrap
        li
          margin-right: 20px
          &.active .link
            border-bottom: 1px solid transparent
            background-color: #ff9700
            border-radius: 2px
            box-shadow: 0 5px 10px rgba(255, 144, 0, 0.35)
        .link
          font:
            size: 2.2rem
            weight: 500
          border-bottom: 1px dashed #6a7075
          color: #fff
          padding: 5px 10px
      &__tabs
        background: #454c53
        padding: 40px 50px
        color: #fff
        position: relative
        z-index: 10
        margin:
          right: 300px
        h1
          padding-right: 70px
          font:
            size: 6rem
          margin-bottom: 35px
      .fullpage__shape
        display: block
        right: -220px
        top: 0px
    .section-main
      &__logo
        width: 335px
        margin-right: 35px
      &__nav
        margin-bottom: 40px
        white-space: normal
        ul
          overflow: visible
          padding-right: 0
        &:after
          display: none
        li
          display: block
          + li
            margin-left: 0
          &:not(:last-child)
            margin-bottom: 15px
      .container
        padding:
          top: 40px
      .shape-1
        display: block
        right: -200px
        bottom: 0
        left: auto
        top: auto
        width: 900px
        height: 900px
      &__header
        display: flex
        align-items: center
        margin-bottom: 30px
      &__slogan
        font:
          size: 3rem
          weight: 700
        line-height: 3.6rem
        max-width: 320px
        margin-bottom: 0
      &__logo
        width: 335px
        margin-bottom: 0
        display: block
        margin-right: 35px
        img
          width: 100%
          display: block
      &-addresses
        position: absolute
        bottom: 60px
        left: 0
        margin-top: 0
      &__address
        font-size: 2.2rem
        &:not(:last-child)
          margin-bottom: 30px

body
  #fp-nav
    &.fp-left
      left: 10px
      a
        &:hover
          + .fp-tooltip.fp-left
            display: block
      .fp-tooltip.fp-left
        background: rgba(#4e545b, 0.95)
        left: -5px
        padding-left: 35px
        border-radius: 15px
        top: -5px
        color: #fff
        font:
          size: 1.6rem
          weight: 700
        min-width: 130px
        white-space: inherit
        height: 28px
        line-height: 3rem
        max-width: 100%
        padding-right: 10px
        display: none
        &:hover
          display: block
        &:before
          content: ""
          background: #ff9c00
          left: 9px
          border-radius: 50px
          width: 6px
          height: 6px
          top: 50%
          margin-top: -5px
          z-index: 1
          position: absolute
      +MQ(XL)
        left: 38px
    ul
      li
        width: 14px
        margin: 9px 0
        height: 14px
        a
          position: relative
          span
            background: #454c53
            width: 10px
            height: 10px
            margin: -5px 0 0 -5px
          //&:hover
            .fp-tooltip.fp-left
              display: block
          &.active
            span
              transform: scale(1.3)
            &:before
              background: #fff
              z-index: 2
              border-radius: 50%
              content: ""
              display: block
              width: 6px
              height: 6px
              position: absolute
              left: 50%
              top: 50%
              margin: -3px 0 0 -3px


@media (max-width: $M)
  .fullpage .section,
  .modal
    .mobile-radio
      display: block
      &.is-dark
        li
          .link, .link:hover
            text-align: left
            color: #454c53
            .sup
              color: #ccc4a3
            &:before
              border-color: #d0c8a6
          [aria-expanded="true"],
          .link.is-active
            &:after
              background: #2889dc !important
            &:before
              border-color: #2889dc !important
      [aria-expanded="true"]
        &:after
          display: block !important
      li
        display: block
        margin-bottom: 15px
        [aria-expanded="true"],
        .link.is-active
          &:after
            background: #ff9c00 !important
          &:before
            border-color: #ff9c00 !important
        .link, .link:hover
          border: none
          padding: 5px 0 5px 40px
          min-height: 30px
          background: transparent
          position: relative
          display: inline-block
          width: auto
          box-shadow: none
          margin: 0
          font:
            size: 1.8rem
            weight: 500
          line-height: 1
          &.is-active
            &:after
              display: block
          &:after, &:before
            border-radius: 50%
            content: ""
            position: absolute
          &:after
            height: 16px
            width: 16px
            background: #fff
            display: none
            left: 7px
            top: 7px

          &:before
            left: 0
            top: 0
            display: block
            width: 30px
            height: 30px
            border: 2px solid #fff
.is-mobile-visible
  +MQ(EXM)
    display: none !important
.is-mobile-hidden
  @media (max-width: $EXM)
    display: none !important