
.mobile-constructor
  background: #454c53
  color: #f5f3ec
  &.modal
    z-index: 1110
  .modal-dialog
    margin: 0
    width: auto
  .container 
    padding: 0
  .checkout-stepper
    .checkout-step
      color: #fff
      &__indicator
        width: 30px
        height: 30px
        font-size: 2.3rem
        color: #454c53
        background-color: #a5c967
        border: none
      &__header
        min-height: 1px
        font-size: 24px
        padding:
          left: 40px
          top: 5px
        margin-bottom: 15px
      &__subheader p
        font-size: 16px
        
  &__field
    margin-bottom: 30px
    p
      font:
        weight: 700
      margin-bottom: 5px
    .select-custom
      margin-bottom: 20px
  &__price
    font:
      size: 1.6rem
      weight: 700
    color: #b0c2d4
    text-align: center
  &__close
    color: #a2a6a9
    z-index: 10
    cursor: pointer
    font:
      size: 3.2rem
    position: absolute
    right: 20px
    top: 20px
    &:hover
      color: #fff
  p, h1, h2, h3
    color: inherit
  h1
    color: inherit
    font-size: 36px
  h6
    font-size: 1.8rem
    text-shadow: 0 0 0 #5b646e
  .checkout-step__body
    padding-left: 0
  .w-button
    max-width: 320px
    width: 100%
  .drinks-mobile
    &:after
      display: none
  .checkout-step
    &__body
      color: #fff
    &__header
      color: #fff
      min-height: 1px
      font-size: 24px
      padding:
        left: 40px
        top: 5px
      margin-bottom: 15px
    &__subheader p
      font-size: 16px
    .food-block
      margin-top: 20px
      &__slider-wrapper
        position: static
        transform: rotate(0)
        pointer-events: none
      &__info
        padding-left: 0
        .mobile-souse-checker
          color: inherit
          pointer-events: none
          &.is-active
            pointer-events: auto
          h6
            color: #f5f3ec
            font-size: 18px
            font-weight: bold
          label
            border-bottom: none
            &::before
              border: 1px solid #fff
            &::after 
              top: 7px
          .mark
            margin-left: 5px
    .mark
      color: #a5c967
      background: transparent
      padding: 0
    &__img
      padding: 0 20px
      max-width: 360px
      text-align: center
      margin: 20px auto
      img
        width: 100%
        max-width: 100%
    input
      appearance: none
      &:checked
        & + label
          color: #a5c967
    label
      font-size: 18px
      font-weight: 400
      border-bottom: 1px dashed #f5f3ec
  &-volume-type
    display: flex
    justify-content: space-between
  &-volume__title
    font-size: 1.6rem
    margin-right: 20px
    max-width: 100px
  &-volume-list
    display: flex
  &-volume
    &:not(:last-child)
      margin-right: 15px
  .checkout-total
    font-size: 16px
    font-weight: 700
    &-price
      display: flex
      flex-wrap: wrap
      align-items: flex-end
    &-price__sale
      color: #a5c967
      font-size: 36px
      span
        font-size: 27px
    &-price__not-sale
      color: #b0c2d4
      text-decoration: line-through
      position: relative
      top: -7px
      margin-left: 10px
    .w-button
      margin-top: 25px