.drinks-mobile
  position: relative
  &__slide
    padding:
      left: 15px
      right: 15px
      bottom: 25px
  .drink-card__footer
    padding: 0
    color: #454c53
  .drink-card__title
    color: #454c53
    padding: 0
    margin-bottom: 20px
    h3
      font:
        size: 3rem
  &__slider
    position: relative
    z-index: 10
  &:after
    content: ""
    background: #fff
    position: absolute
    top: 20px
    left: 0
    right: 0
    bottom: 0

  &__carousel
    position: relative
    z-index: 10
    margin:
      left: -20px
      right: -20px
    .slick-list
      padding:
        right: 80px
        top: 20px
        left: 10px
    .slick-slide
      padding: 0 25px 20px
    .slick-current
      .drinks-mobile__item
        img
          transform: scale(1.15)
          transform-origin: center 100%
        &:after
          background: #2786d8
  &__item
    position: relative
    &:after
      content: ""
      height: 4px
      border-radius: 4px
      display: block
      z-index: 1
      background: #c1c1c1
      width: 100%
      bottom: 0
      left: 0

    img
      height: 250px
      display: block
      //transition: all 0.2s ease
      width: auto
      transform: scale(1)
      margin: 0 auto