.modal
  &-backdrop.in 
    opacity: 0.2 !important
  .modal-dialog 
    display: flex
    width: 100%
    max-width: 600px
    box-shadow: 1px 13px 13px rgba(69, 76, 83, 0.6)
    background-color: #454c53
    opacity: 0.98
    padding: 20px
    .modal__wrapper
      flex-grow: 1
  &__close
    color: #fff
    cursor: pointer
    font:
      size: 3.4rem
    position: absolute
    right: 10px
    top: 10px
    &:hover
      color: #a4a6a8
  +MQ(L)
    &__close
      right: 20px
      top: 20px
    &__field
      margin-right: 50px
    &__modal

.modal[aria-labelledby="selectCityLabel"]
  .modal-dialog 
    margin-top: 80px
    height: calc(100vh - 90px)
    max-width: calc(100% - 20px)
    padding: 20px
    background-color: #fff
    color: #454b52
    +MQ(XS)
      margin:
        top: 110px
      height: calc(100vh - 120px)
    +MQ(EXM)
      color: #fff
      padding: 50px 35px
      max-width: 900px
      margin-top: 20px
      height: 450px
      background-color: #454c53
    .modal__close
      display: none
      +MQ(EXM)
        display: block
    header
      display: flex
      align-items: center
      padding-bottom: 15px
      border-bottom: 1px solid #454b52
      margin-bottom: 15px
      .modal__logo
        max-width: 35px
        img
          max-width: 100%
      h1
        color: inherit
        font-size: 18px
        font-weight: 500
        margin:
          left: 10px
          bottom: 0
        a
          color: #95c83e
          border-bottom: 1px dashed #95c83e
        &::after
          font-family: '#{$icomoon-font-family}' !important
          speak: none
          font-style: normal
          font-weight: normal
          font-variant: normal
          text-transform: none
          line-height: 1
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          content: $icon-caret
          transform: rotate(-90deg)
          display: inline-block
          font-size: .7rem
          margin-left: 10px
        +MQ(EXS)
          font-size: 29px
          text-align: center
      +MQ(EXM)
        justify-content: center
        .modal__logo
          display: none
  .list-delivery-places
    max-height: calc(100% - 80px)
    overflow-y: auto
    display: none
    &.opened
      display: block
    .delivery-place
      padding: 15px 30px
      font-weight: 700
      &:not(:last-child)
        border-bottom: 1px solid #454b52
      h3
        color: inherit
      p
        color: inherit
        font-size: 1.6rem
        &:last-child
          margin-bottom: 0
      a
        color: inherit
      .social
        display: none
    +MQ(EXM)
      color: #fff
      ul
        display: flex
        flex-wrap: wrap
        justify-content: space-between
      .delivery-place
        flex: 0 0 32%
        max-width: 32%
        padding: 15px 20px
        h3
          font-size: 2rem
        p
          font: 
            size: 1.2rem
            weight: 400
    +MQ(L)
      .delivery-place
        .social
          display: flex
          align-items: center
          a 
            width: 20px
            height: 20px
            display: flex
            align-items: center
            justify-content: center
            color: #454c53
            background-color: #fff
            border-radius: 5px
            font-size: 1.4rem
            margin-left: 15px
            &:first-child
              margin-left: 40px
            &:hover
              opacity: .8

  .list-select-city
    display: none
    height: calc(100% - 82px)
    &.opened
      display: block
    +MQ(EXM)
      max-height: calc(100% - 62px)
  .modal__field-btn
    position: absolute
    right: 0
    top: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    width: 35px
    .icon-cursor
      color: #c3c3c3
      font:
        size: 1.5rem
  .modal__field
    max-width: 380px
    position: relative
    margin:
      right: auto
      left: auto
      bottom: 30px
    input
      height: 35px
      width: 100%
      font:
        size: 1.8rem
        weight: 700
      border-radius: 5px
      background: #fff
      border: none
      padding: 0 40px 0 25px
      outline: none
      border: 1px solid #454b52
      color: #b2b2b2
  .modal-cities-wrap
    display: flex
    flex-wrap: wrap
    overflow: auto
    max-height: calc(100% - 65px)
    .modal__cities
      flex: 0 0 100%
      max-width: 100%
      ul
        position: relative
        padding-left: 40px
        .modal-cities__letter
          position: absolute
          left: 0
          top: -5px
          color: #ffe164
          font-size: 23px
          font-weight: 700
      li
        min-height: 30px
        max-width: 90%
        margin-bottom: 10px
        line-height: 1.1
      a
        color: inherit
        transition: .25s
        &:hover
          opacity: .8
    +MQ(EXM)
      .modal__cities
        flex: 0 0 20%
        max-width: 20%
        ul
          .modal-cities__letter
            position: static
            color: #95c83e
            font-size: 16px