.pagination-nav
  position: relative
  margin:
    bottom: 30px
  line-height: 1
  a
    text-decoration: none
    &:hover
      text-decoration: none
      .link
        text-decoration: none
  &:after, &:before
    content: ""
    display: table
  &:after
    clear: both
  &__prev,
  &__next
    display: flex
    align-items: center
  &__prev
    float: left
    [class*='icon']
      margin-right: 20px
  &__next
    float: right
    [class*='icon']
      margin-left: 20px
  .link
    font:
      size: 1.8rem
      weight: 400
  [class*='icon']
    color: #495057
    font:
      size: 5rem
  +MQ(M)
    margin:
      left: -10px
      right: -10px
