//@import "./../partials/mixins"

.page404
  &__wrapper
    width: 90%
    margin: 0 auto
    text-align: center
    padding:
      top: 20vh
      bottom: 35vh

    height: 100%
    position: relative
    img
      max-width: 100%
      display: inline-block
      vertical-align: middle
      max-height: 100%
  &__hint
    position: absolute
    bottom: 6vh
    left: 0
    right: 0
    text-align: center
    font-size: 14px
    line-height: 1.3
    color: rgba(#373a3c, 0.6)
    a
      font-weight: 500
      color: #0066c8
      text-decoration: underline
      &:hover
        text-decoration: none

  +MQ(EXS)
    &__hint
      bottom: 10vh
      font-size: 24px
  +MQ(M)
    &__wrapper
      width: 100%
    &__hint
      line-height: 1.8
      font-size: 30px
