@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ifyy2b');
  src:  url('fonts/icomoon.eot?ifyy2b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ifyy2b') format('truetype'),
    url('fonts/icomoon.woff?ifyy2b') format('woff'),
    url('fonts/icomoon.svg?ifyy2b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-vk:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e90c";
}
.icon-cursor:before {
  content: "\e909";
}
.icon-caret:before {
  content: "\e907";
}
.icon-remove:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-fat-arrow-r:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-arrow-next:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\e901";
}
.icon-minus:before {
  content: "\e902";
}
.icon-arrow-prev:before {
  content: "\e903";
  color: #454c53;
}
