$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-shopping-cart: "\e90d";
$icon-facebook: "\e90a";
$icon-vk: "\e90b";
$icon-instagram: "\e90c";
$icon-cursor: "\e909";
$icon-caret: "\e907";
$icon-remove: "\e904";
$icon-info: "\e905";
$icon-fat-arrow-r: "\e906";
$icon-arrow-down: "\e908";
$icon-arrow-next: "\e900";
$icon-plus: "\e901";
$icon-minus: "\e902";
$icon-arrow-prev: "\e903";

