/*@font-face {*/
    /*font-family: 'Mir';*/
    /*src: url('Mir-BoldItalic.eot');*/
    /*src: url('Mir-BoldItalic.eot?#iefix') format('embedded-opentype'),*/
        /*url('Mir-BoldItalic.woff2') format('woff2'),*/
        /*url('Mir-BoldItalic.woff') format('woff'),*/
        /*url('Mir-BoldItalic.ttf') format('truetype'),*/
        /*url('Mir-BoldItalic.svg#Mir-BoldItalic') format('svg');*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Mir';*/
    /*src: url('Mir-MediumItalic.eot');*/
    /*src: url('Mir-MediumItalic.eot?#iefix') format('embedded-opentype'),*/
        /*url('Mir-MediumItalic.woff2') format('woff2'),*/
        /*url('Mir-MediumItalic.woff') format('woff'),*/
        /*url('Mir-MediumItalic.ttf') format('truetype'),*/
        /*url('Mir-MediumItalic.svg#Mir-MediumItalic') format('svg');*/
    /*font-weight: 500;*/
    /*font-style: italic;*/
/*}*/

@font-face {
    font-family: 'Mir';
    src: url('Mir.eot');
    src: url('Mir.eot?#iefix') format('embedded-opentype'),
        url('Mir.woff2') format('woff2'),
        url('Mir.woff') format('woff'),
        url('Mir.ttf') format('truetype'),
        url('Mir.svg#Mir') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {*/
    /*font-family: 'Mir';*/
    /*src: url('Mir-Italic.eot');*/
    /*src: url('Mir-Italic.eot?#iefix') format('embedded-opentype'),*/
        /*url('Mir-Italic.woff2') format('woff2'),*/
        /*url('Mir-Italic.woff') format('woff'),*/
        /*url('Mir-Italic.ttf') format('truetype'),*/
        /*url('Mir-Italic.svg#Mir-Italic') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: italic;*/
/*}*/

@font-face {
    font-family: 'Mir';
    src: url('Mir-Bold.eot');
    src: url('Mir-Bold.eot?#iefix') format('embedded-opentype'),
        url('Mir-Bold.woff2') format('woff2'),
        url('Mir-Bold.woff') format('woff'),
        url('Mir-Bold.ttf') format('truetype'),
        url('Mir-Bold.svg#Mir-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mir';
    src: url('Mir-Medium.eot');
    src: url('Mir-Medium.eot?#iefix') format('embedded-opentype'),
        url('Mir-Medium.woff2') format('woff2'),
        url('Mir-Medium.woff') format('woff'),
        url('Mir-Medium.ttf') format('truetype'),
        url('Mir-Medium.svg#Mir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

